<div class="login">
  <div class="login-field">
    <div class="login-field-header">
      <h1>Sign Up</h1>
    </div>

    <div class="login-field-input">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :email, placeholder: "Email"  %>
        </div>
        <div class="field">
          <%= f.password_field :password, placeholder: "Password"  %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
        </div>
        <div class="actions"><%= f.submit "Sign Up" %></div>
      <% end %>
      <%= link_to "Or log in here!", "/login"  %>

    </div>
  </div>
</div>
