<body class=”news-button”>
<p id="notice"><%= notice %></p>

<div class= "news_container">
  <div class= "news_header">
    Crypto News_
  </div>

  <div class= "news_header_shade">

  </div>

  <% @news_items.each do |news_item| %>
  <a href=<%= news_item.url %>>
    <div class="news_cell">
        <span class="news-cell-left">
          <%= news_item.title %>
          <div class="news-cell-attribution">
            Published <%= time_ago_in_words(news_item.created_at) %> ago
          </div>
        </span>
        <span class="news-cell-center">
          <%= news_item.description %>
        </span>
    </div>
    </a>
  <% end %>



  <br>
  <h1>
    <%= paginate @news_items %>
    <%= page_entries_info @news_items %>
  </h1>
</div>
</body>
