<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :coin_name %>
  </div>

  <div class="field">
    <%= form.label :ticker %>
    <%= form.text_field :ticker, id: :coin_ticker %>
  </div>

  <div class="field">
    <%= form.label :supply %>
    <%= form.text_area :supply, id: :supply %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :coin_description %>
  </div>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_area :team, id: :coin_team %>
  </div>

  <div class="field">
    <%= form.label :key_value_proposition %>
    <%= form.text_area :key_value_proposition, id: :key_value_proposition %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_area :twitter, id: :twitter %>
  </div>

  <div class="field">
    <%= form.label :concerns %>
    <%= form.text_area :concerns, id: :concerns %>
  </div>

  <div class="field">
    <%= form.label :community %>
    <%= form.text_area :community, id: :community %>
  </div>

  <div class="field">
    <%= form.label :all_tags %>
    <%= form.text_field :all_tags, id: :all_tags, placeholder: "Tags separated with comma" %>
  </div>

  <div class="field">
    <%= form.label :whitepaper %>
    <%= form.text_field :whitepaper, id: :whitepaper, placeholder: "whitepaper URL" %>
  </div>

  <div class="field">
    <%= form.label :archive %>
    <%= form.check_box :archive, placeholder: "Archived" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
