<div class="content">

  <div class="headlines">
  	<div class="headline-cell">

    </div>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>24 hr change</th>
        <th></th>
      </tr>
    </thead>

    <div class="favorites">
      <% if current_user %>
        <tbody>
          <% @favorites.each do |coin| %>
          <tr bgcolor="white">
            <td><%= link_to coin.name, coin %></td>
            <td><%= coin.ticker %></td>
            <td><%= coin.price %></td>
            <% if coin.increased? %>
              <td style="color: #0b83e4;">+ <%= coin.percent_change %> %</td>
            <% else %>
              <td style="color: #dd3b4c;"><%= coin.percent_change %> %</td>
            <% end %>
            <td>
              <%= button_to "", {action: "unfollow", coin_id: coin.id, method: :post}, {class:"ribbon"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>

    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <td><%= link_to coin.name, coin %></td>
          <td><%= coin.ticker %></td>
          <td><%= coin.price %></td>
          <% if coin.increased? %>
            <td style="color: #0b83e4;">+ <%= coin.percent_change %> %</td>
          <% else %>
            <td style="color: #dd3b4c;"><%= coin.percent_change %> %</td>
          <% end %>
          <td>
            <%= button_to "", {action: "follow", coin_id: coin.id, method: :post}, {class:"ribbon_outline"} %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<br>
