<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>24 hr change</th>
      </tr>
    </thead>

    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <td><%= link_to coin.name, coin %></td>
          <td><%= coin.ticker %></td>
          <td><%= coin.price %></td>
          <% if coin.increased? %>
            <td style="color: #0b83e4;">+ <%= coin.percent_change %> %</td>
          <% else %>
            <td style="color: #dd3b4c;"><%= coin.percent_change %> %</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
