<% content_for :title do %>
  <title><%= @coin.name %> (<%= @coin.ticker %>$) price, news and desciption - blockknight.com</title>
<% end %>

<% content_for :description do %>
  <%= @coin.description %>
<% end %>

<div class="coin_info">

  <div class="coin-head">
    <div class="coin-head-left">
      <span class="coin-title"><%= @coin.name %></span>
      <span class="coin-symbol">(<%= @coin.ticker %>)</span>
    </div>

    <div class="coin-head-right">
      <span class="follow-button">
        <% if @followed %>
          <%= button_to "", {action: "unfollow", coin_id: @coin.id, method: :post}, {class:"ribbon", value:"corn"} %>
        <% else %>
          <%= button_to "", {action: "follow", coin_id: @coin.id, method: :post}, {class:"ribbon_outline", value:"corn"} %>
        <% end %>
      </span>
      <span class="coin-price">$<%= @coin.price.round(3) %></span>
      <% if @coin.increased? %>
        <span class="percent_change" style="color: #3e9e3e;">+<%= @coin.percent_change %>%</span>
      <% elsif @coin.percent_change%>
        <span class="percent_change" style="color: #dd3b4c;"><%= @coin.percent_change %>%</span>
      <% else %>
        <span class="percent_change" style="color: #2dc0ca;">no change</span>
      <% end %>
    </div>
  </div>

  <div class= "news_header_shade">

  </div>

  <div class="coin-body">

    <% @coin.tags.each do |tag|%>
      <div class="tag"><%= tag.name %> </div>
    <% end %>

    <div class="coin-buttons">
      <div class="coin-description">
        <p><%= @coin.description %></p>
      </div>
      <% if @coin.whitepaper? %>
        <a title="whitepaper" href=<%= @coin.whitepaper %>><%= material_icon.description.md_48 %></a>
      <% end %>
    </div>

    <div class="coin-chart">
      <%= area_chart @price_data %>
    </div>

    <% if @news_items.length > 0 %>

        <div class="news-box">
          <% @news_items.each do |item|%>
            <% if item.approved? %>
              <a href=<%= item.url %>>
                <div class="news-item">
                  <div class="news-image">
                    <img src=<%= item.image %>>
                  </div>

                  <div class="news-title">
                    <%= item.title %>
                  </div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>

    <% end %>
  </div>

  <% if current_user && current_user.admin %>
    <%= link_to 'Edit', edit_coin_path(@coin) %>
  <% end %>

  <br>
  <br>
  <br>

</div>
