
<div class="coin_info">

  <div class="coin-head">
    <div class="coin-head-left">
      <b style="font-size: 24px;"><%= @coin.name %></b>
      <br> 
      <b style="color: #34aedc; font-size: 18px;">(<%= @coin.ticker %>)</b>
    </div>

    <div class="coin-head-right">
      <b style="color: #5856d6; font-size: 20px;"><%= @coin.price %>$</b>
      <br>
      <% if @coin.increased? %>
        <b style="color: #2dc0ca;">+<%= @coin.percent_change %>%</b>
      <% elsif @coin.percent_change%>
        <b style="color: #dd3b4c;">-<%= @coin.percent_change %>%</b>
      <% else %>
        <b style="color: #2dc0ca;">no change</b>
      <% end %>
    </div>
  </div>

  <p>
    <strong>Description:</strong>
    <%= @coin.description %>
  </p>

  <p>
    <strong>Key Value Proposition:</strong>
    <%= @coin.key_value_proposition %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= @coin.team %>
  </p>

  <p>
    <strong>Supply:</strong>
    <%= @coin.supply %>
  </p>

  <p>
    <strong>Community:</strong>
    <%= @coin.community %>
  </p>

  <%= link_to 'Edit', edit_coin_path(@coin) %> |
  <%= link_to 'Back', coins_path %>
</div>
