<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coin.name %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @coin.ticker %>
</p>

<p>
  <strong>Price:</strong>
  <%= @coin.price %>
</p>

<p>
  <strong>24 Hour Movement:</strong>
  <%= @coin.percent_change %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Key Value Proposition:</strong>
  <%= @coin.key_value_proposition %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coin.team %>
</p>

<p>
  <strong>Supply:</strong>
  <%= @coin.supply %>
</p>

<p>
  <strong>Community:</strong>
  <%= @coin.community %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
